.block_msg[id="post-#{@post.id}"]
  /! Имя отправителя
  .msg_name
    strong= @post.nickname
  /! Текст сообщения
  .msg_text= @post.text
  .buttons
    .like_button.btn[data-post-id=@post.id] Нравится: #{@post.like.count}
    .delete_button.btn[data-post-id=@post.id] Удалить