/! Хидер
#main_page-header
  img src="assets/wall.png" /
  | The wall
/! Стена
.main_page-wall
  /! Форма ввода сообщения
  .main_page-form
    /! Поле ввода имени
    input#main_page-name_area onBlur=("if (this.value == '') {this.value='Ваше имя'}") onfocus=("if (this.value == 'Ваше имя') {this.value=''}") type="input" value=("Ваше имя") 
    /! Разделительная полоса
    .straight-line
    /! Поле ввода сообщения
    textarea#main_page-msg_area cols="30" onBlur=("if (this.placeholder == '') {this.placeholder='Сообщение'}") onfocus=("if (this.placeholder == 'Сообщение') {this.placeholder=''}") placeholder="Сообщение" rows="3" 
    /! Кнопка отправки сообщения
    button.main_page-send_button.btn Отправить
  /! Контейнер всех сообщений
  #msgs-container
    - @posts.each do |post|
      = render partial:'post', locals: {:@post => post}