/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
  /*, "Helvetica Neue"*/
}
#main_page-header {
  height: 45px;
  text-align: center;
  padding: 5px 0 10px 0;
  background-color: #3366CC;
  font-size: 1.3em;
  color: #fff;
}
.main_page-wall {
  height: 95%;
  padding-top: 1%;
  padding-left: 25%;
  padding-right: 25%;
  background-color: #f2f2f2;
  overflow: auto;
}
.main_page-form {
  height: 140px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  display: block;
  overflow: auto;
  position: relative;
}
#main_page-name_area, #main_page-msg_area {
  border-radius: 3px;
    border: 0 solid #f2f2f2;  
    background-color: #fff;
    color: #666666;
    padding-left: 10px;
}
.straight-line {
  border-bottom: 1px solid #f2f2f2;
}
#main_page-name_area {
  height: 50px;
  margin-bottom: 1px;
  width: 100%;
}
#main_page-name_area:focus {
  background-color: #fff;
  outline: #6699FF solid 1px;
}
#main_page-msg_area:focus {
  background-color: #fff;
  outline: #6699FF solid 1px;
}
#main_page-msg_area {
  float: left;
  overflow: auto;
  width: 70%;
  /*margin-right: 10px;*/
  /*margin-left: 10px;*/
  padding-top: 10px;
  right: -10px;
}
button.main_page-send_button {
  height: 30px;
  width: 150px;
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-image: url("packet.png");
    background-position-y: center;
    background-position-x: 10%;
    background-repeat: no-repeat;
    background-color: #6699FF;
    text-align: left;
    padding-left: 45px;
}
.btn {
  float: left;
  cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0 solid transparent;
    border-radius: 3px;
    font-size: 1.4em;
}
button.main_page-send_button:hover {
    color: #fff;
    background-color: #3333CC;
}
#msgs-container {
  background-color: #f2f2f2;
  height: auto;
  width: 100%;
  min-height: 80%;
  display: table;
}
.block_msg {
  padding: 20px 10px 10px 10px;
  height: auto;
  overflow: auto;
  margin-bottom: 10px;
  background-color: #fff;
}
.msg_name {
  font-size: 1.3em;
  color: #3366CC;
}
.msg_text {
  padding-left: 10%;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.buttons {
  display: inline-table;
  height: 100%;
  width: 100%;
}
#like_button {
  width: auto;
  height: 40px;
  padding-left: 40px;
    color: #000000;
    margin-left: 65%;
    background-image: url("heart.png");
    background-position-y: center;
    background-position-x: 5%;
    vertical-align: middle;
    background-repeat: no-repeat;
    text-align: left;
}
#like_button:hover {
  border-color: #0066CC;
}
#delete_button {
  width: auto;
  height: 40px;
  color: #000000;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  padding-left: 45px;
    background-image: url("close.png");
    background-position-y: center;
    background-position-x: 5%;
    vertical-align: middle;
    background-repeat: no-repeat;
    text-align: left;
}
#delete_button:hover {
  background-color: #666666;
}
