doctype html
html
  head
    title Olga
    script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" 
    link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" 
      link href="img/wall.png" rel=("shortcut icon") 
        = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
        = javascript_include_tag "application", "data-turbolinks-track" => true
        = csrf_meta_tags
        meta charset="UTF-8" 
          title The wall
          meta content="Document" name="Resource-type" /
  body
    = yield
